<section class="stats" aria-label="Headline statistics">
  <a class="stat stat-link" href="/db/matter/certified_products"
     title="Browse all {{ stats.products }} Matter-certified products">
    <span class="num">{{ "{:,}".format(stats.products) }}</span>
    <span class="label">total products</span>
  </a>
  <a class="stat stat-link" href="/db/matter/manufacturers"
     title="Browse all {{ stats.vendors_with_products }} manufacturers, ordered by certified product count">
    <span class="num">{{ "{:,}".format(stats.vendors_with_products) }}</span>
    <span class="label">manufacturers</span>
  </a>
  <a class="stat stat-link" href="/db/matter/added_last_7_days"
     title="Browse the {{ stats.added_7d }} products that first appeared on the DCL in the last 7 days">
    <span class="num">{{ "{:,}".format(stats.added_7d) }}</span>
    <span class="label">added last 7 days</span>
  </a>
  <a class="stat stat-link" href="/db/matter/vendor_watchlist"
     title="Browse the {{ stats.vendors_watchlist }} vendors registered on the DCL with no certified products yet">
    <span class="num">{{ "{:,}".format(stats.vendors_watchlist) }}</span>
    <span class="label">on the watchlist</span>
  </a>
</section>
